<div class="p-grid p-justify-between" style="margin-top: .5em">
  <div class="p-col" *ngFor="let detail of currentChartDetail; let i=index" [@animation]="'visible'">
    <p-panel styleClass="color-{{i % 10}}">
      <p-header>
        {{ detail.package.name }}
      </p-header>
      <p-fieldset legend="Description">
        {{ detail.package.description}}
      </p-fieldset>
      <p-fieldset legend="Score">
        <p-fieldset legend="Maintenance">
          <div class="p-grid p-dir-col">
            <div class="p-col-fixed">
              <i class="pi pi-minus-circle"></i>
            </div>
            <div class="p-col">
              <p-progressBar [value]="getValue(detail.score.detail.maintenance)"></p-progressBar>
            </div>
            <div class="p-col-fixed">
              <i class="pi pi-check-circle"></i>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset legend="Popularity">
          <div class="p-grid p-dir-col">
            <div class="p-col-fixed">
              <i class="pi pi-minus-circle"></i>
            </div>
            <div class="p-col">
              <p-progressBar [value]="getValue(detail.score.detail.popularity)"></p-progressBar>
            </div>
            <div class="p-col-fixed">
              <i class="pi pi-check-circle"></i>
            </div>
          </div>
        </p-fieldset>
        <p-fieldset legend="Quality">
          <div class="p-grid p-dir-col">
            <div class="p-col-fixed">
              <i class="pi pi-minus-circle"></i>
            </div>
            <div class="p-col">
              <p-progressBar [value]="getValue(detail.score.detail.quality)"></p-progressBar>
            </div>
            <div class="p-col-fixed">
              <i class="pi pi-check-circle"></i>
            </div>
          </div>
        </p-fieldset>
      </p-fieldset>
    </p-panel>
  </div>
</div>
